<h1>Matches for <%= @customer.name() %></h1>
<h3>Great Matches</h3>
<ul>
  <% @matches.each() do |animal| %>
    <% if animal.customer_id == 0 %>
      <img src="<%= animal.pic() %>" style="width: 300px; height:auto;">
      <li><a href="/adopt/<%= @customer.id() %>/<%= animal.id() %>">Adopt <%= animal.name() %></a></li>
      <li><%= animal.gender() %></li>
      <li><%= animal.type() %></li>
      <li><%= animal.breed() %></li>
    <% end %>
  <% end %>
</ul>
<h3>You Might Also Like</h3>
<ul>
  <% @partial_matches.each() do |animal| %>
<% if animal.customer_id == 0 %>
  <img src="<%= animal.pic() %>" style="width: 300px; height:auto;">
  <li><a href="/adopt/<%= @customer.id() %>/<%= animal.id() %>">Adopt <%= animal.name() %></a></li>
  <li><%= animal.gender() %></li>
  <li><%= animal.type() %></li>
  <li><%= animal.breed() %></li>
<% end %>
<% end %>
</ul>
